header{
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    font-size: 10rm;
    justify-content: center;
    align-items: center;
   
    .wallpaper{
        
        padding-top: 5px;
        padding-bottom: 0px;
        display: block;
        margin-left: auto;
        margin-right: auto;
     
    }
    .logo{
        text-align: left;
        position: relative;
        bottom: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
    
  
    }
 
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    height: 1020px;
    width: 480px;
    border: 1px solid white;
    border-radius: 0px;
    overflow-y: hidden;
    &:hover {
        overflow-y: scroll
    }
}
titulo{
    flex: 1;
    height: 20px;
    padding: 10px;
    background: white;
    border-radius: 001px;
    display: flex  ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: bold;
    font-family:  'verdana' ;
    
        }
main{
    background: #0d2240;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    min-height: 50px;
    padding-top:0px;
       
    .buttons {
      display: flex;
        padding: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        .button{
            flex: 1;
            height: 80px;
            padding: 10px
            border-radius: 10px;
            
            background: #0d2240;
            margin: 2px;
            display: flex  ;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 0.7rem;
            font-weight: bold;
            font-family:  'verdana' ;
            color: white;
            &:hover {
                background: #D8DCE7;
                color:black;
                font-size: 0.8rem;}
                
        }
        
    }
    .Alarmas{
        
        .titulo{
            font-size: 1.9rem;
            color: #0d2240;
            
        }
        .Alarma{
            flex: 1;
            height: 80px;
            padding: 10px
            border-radius: 10px;
            background: #D8DCE7;
            margin: 5px;
            display: flex  ;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 0.7rem;
            font-weight: bold;
            font-family:  'verdana' ;
    
         
    
        }
          
        }
    .piepagina{
        background-color:white;
        
    }        
    }
resumen{    
    padding: 5px;
    justify-content: center;
    align-items: center;
   
  
    .Titulo{
            font-size: 0.9rem;
            font-weight: 500;
            font-weight: bold;
            font-family:  'verdana' ;
            color: #0d2240;
            padding-bottom: 5px;
    }
   
    .Alarmas{
        display: flex;
        background:#0d2240 ;    
        border-radius: 10px;
        align-items: center;
        justify-content: center;
    .Alarma{
        display: flex;
        justify-content: center;
        align-items: center;
        background:#0d2240 ;    
        padding: 10px;
        border-radius: 10px;
        
        .info{
            
            text-align: center;
            padding-right:50px;
            width: 50px;
            color: white;
            .logo{
                background: white;
                width: 10px;
            }
            .conteo{
                font-weight: bold;
                font-family:  'verdana' ;
                
                    }
            .tipo{
                
                font-family:  'verdana' ;
                font-size: 0.6rem;
                font-weight: 500;
                }
           &:hover {
                background: #D8DCE7;
                font-size: 1.1rem;
               color: black;}
}
         &:hover {
                background: #D8DCE7;
                font-size: 1.1rem;
                color: black;
                .conteo{
                      color: black;
                    }
             
               }

       
}
         
}
       
    
    }
      }